/* style.css */
body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.gallery img {
    width: 20%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}
.similar-products-btn {
    background-color: #3498db; /* Or any color that fits the theme */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.similar-products-btn:hover {
    background-color: #2980b9; /* Darker shade for hover effect */
}
